/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css reset ends here */


* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
  }

  body{
      font-size: 1.6 rem;
      line-height: 1.5;
      overflow-x: hidden;
  }

html {
font-size: 62.5%
}

.header{
    height: 20%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: black;
}

#headername {
 margin: 0 5%;
 font-size: 3.9rem;
 border: 1px solid black;
 font-family: 'Recursive', sans-serif;
 color:white;

}

.topnav {
width: 30%;
margin: 0;
padding: 2%;
font-size: 1.5rem;
text-align: center;
}

.topnav a:hover {
color: crimson;
animation-name: spin !important;
animation-duration: 1s !important;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.about {
    border: 3px solid gray;
    padding: 2% 5%;
    border-radius: 10px;
    background-color: black;
    color:white;
    text-decoration: none;
}

.contact {
    border: 3px solid gray;
    padding: 2% 5%;
    border-radius: 10px;
    background-color: black;
    color:white;
    text-decoration: none;
   
}

.projects {
    border: 3px solid gray;
    padding: 2% 5%;
    border-radius: 10px;
    background-color: black;
    color:white;
    text-decoration: none;}

.projects:hover {
    animation-duration: 1s;
    animation-name: spin;
    color: pink;
    }

.mainproj {
    margin: 5% auto;
    padding: 5% 5%;
    display: flex;
    justify-content: center;
    width: 80%;
    background-image: url(/assets/kobu-agency-67L18R4tW_w-unsplash.jpg);
    background-size: 1000%;
}

.mainproj h2 {

font-family: 'Recursive', sans-serif;
font-size: 5rem;
margin: 5% 0;
text-align: center;
}

.mainproj .intro {
 font-size: 3rem;
}

.mainproj .outro {
    font-size: 3rem;
   }

.mainproj p {
    font-family: 'Recursive', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.projbutton{
    border: 1px solid gray;
    margin: 10% auto;
    padding: 3% 3%;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 2rem;
    display: flex;
}



.miniproj {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    }

    

.miniproj .proj {
width: 300px;
height: 300px;
border: 1px solid black;
margin: 5% 0;
}

.break{
    flex-basis: 100%;
    height: 0;
}

.footer {
    background-color: black;
    padding: 3%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

/* how to set below width to % */
.footer h2{
    font-size: 3rem;
    color:white;
    width:200px;
}

.footer nav{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    width:100%;
}
.contactbottom {
    border: 3px solid gray;
    padding: 2% 2%;
    width: 200px;
    height:100px;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    font-size: 2.4rem;
    color: white;
    margin-left: 19%;
}

.contactbottom:hover {
    color:crimson
}

#instagram {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

#instagram:hover {
    color: crimson;
}

#linkedin {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

#linkedin:hover {
    color: crimson;
}

#github{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

#github:hover {
    color: crimson;
}

nav a:hover {
    animation-name: spin;
    animation-duration: 1s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media (max-width: 800px) {

    .header{
        padding: 2%;
        display: flex;
        flex-direction: column;
        background-color: black;
        align-items: center;
    }
    
    #headername {
     margin: 0 5%;
     font-size: 5rem;
     border: 1px solid black;
     font-family: 'Recursive', sans-serif;
     color:white;
    
    }
    
    .topnav {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 2rem;
    }

    .about, .projects, .contact {
        margin: 2%;
    }
    .mainproj h2 {
    font-size: 3rem;
    margin: 10% 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .mainproj .intro {
        font-size: 2rem;
       }
       
    .mainproj .outro {
        font-size: 2rem;
        }
    
    .miniproj {
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;

    }
    .break{
        display: none;
    }

    .footer {
        background-color: black;
        padding: 3%;
        justify-content: space-around;
    }
   
    .contactbottom {
        width: 50%;
        height:50%;
        margin: 3% 20% 0 0;
        padding: 5% 1%;
        font-size: 4rem;
    }  
}

@media (max-width: 500px) {


    .footer {
        background-color: black;
        padding: 3%;
        align-items: center;
       
    }
   
    .contactbottom {
        margin: 0;
        padding: 0;
    }  

}

/*
vsc periodically run "git fetch"?
*/
